*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.admin-dashboar{
    display: flex;
    /* justify-content: s; */
}

.sidebar{
    background-color: #2D4356;
    width: 260px;
    height: 100vh;
    padding: 20px;
    position: fixed;
    cursor: pointer;
}

.sidebar-content{
    margin-top: 30px;
}

.sidebar-content ul li{
    list-style: none;
    margin: 8px;
    padding: 12px;
    border-radius: 5px;
}

.sidebar-content ul li:hover{
    background-color:#4FC0D0;
}

.active-link{
    background-color:#4FC0D0;
}

.sidebar-content ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

/* nav style */
.main-content{
    margin-left: 260px;
    width: calc(100%-260px);
    height: 100vh;
}

.nav{
    background-color: #176B87;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
}

.profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.profile img{
    width: 50px;
}

.profile-name{
    color: white;
    font-size: medium;
    font-weight: bold;
}

.profile a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

/* content */
.hide{
    display: none;
}

.dashboard-card{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
}

.card{
    width: 60%;
    background-color: aliceblue;
    /* border: 2px solid blue; */
    border-radius: 10px;
    height: 80%;
    box-shadow: 2px 2px 4px 0 rgba(225, 204, 110, 1);
}

.text-white{
    color: white;
}

.content-field{
    width: calc(100%-30px);
    height: 75vh;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-box{
    width: 96%;
}

.content-header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.content-body{
    padding: 10px;
}

.content-body table{
    width: 100%;
    border-collapse: collapse;
}

.content-body th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.content-body th {
    background-color: #f2f2f2;
}

/* Add, Edit, Delete Btn */
.add-btn{
    background-color: #176B87;
    width: 80px;
    padding: 8px;
    color: white;
    border-radius: 6px;
    border-color: #176B87;
    cursor: pointer;
}

.edit-btn{
    background-color: green;
    width: 60px;
    padding: 8px;
    color: white;
    border-radius: 6px;
    border-color: green;
    cursor: pointer;
}

.del-btn{
    background-color: red;
    width: 80px;
    padding: 8px;
    color: white;
    border-radius: 6px;
    border-color: red;
    cursor: pointer;
}