*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar{
    background-color: #2D4356;
    height: 100vh;
    padding: 20px;
    position: fixed;
    cursor: pointer;
}
.max-width{
    width:16.96%;

}
.min-width{
    width: 5%;
}
.sidebar-content{
    margin-top: 30px;
}

.sidebar-content ul li{
    list-style: none;
    margin: 8px;
    padding: 12px;
    border-radius: 5px;
}

.sidebar-content ul li:hover{
    background-color:#4FC0D0;
}

.active-link{
    background-color:#4FC0D0;
}

.sidebar-content ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

/* nav style */
.main-content-initial{
    width: 83%;
    margin-left: 260px;
}

.navWidth{
    width: calc(11.96+83%);
    margin-left: 60px;
}

.nav{
    background-color: #176B87;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 18px;
}

.profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.profile img{
    width: 50px;
}

.profile-name{
    color: white;
    font-size: medium;
    font-weight: bold;
}

.profile a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

/* content */
.hide{
    display: none;
}

.dashboard-card{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
}

.card{
    width: 60%;
    background-color: aliceblue;
    border: 2px solid blue;
    border-radius: 10px;
    height: 80%;
}